// import "common.ds";
option csharp_namespace="Wjybxx.BigCat.Demo";

// 物品类型枚举
enum ItemType {
    Normal = 1;
    Equip = 2;
    Quest = 3;
}

//@Options{alias:[DV3, DVector3], encodeFeatures: ObjectFlow}
struct DVector3 {
    readonly float x = 1;
    readonly float y = 2;
    readonly float z = 3;
}

//@Options{alias:[DV4, DVector4], encodeFeatures: ObjectFlow}
struct DVector4 {
    readonly float x = 1;
    readonly float y = 2;
    readonly float z = 3;
    readonly float w = 4;
}